* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 10px 0 0 10px;
}

a {
  color: #911;
  text-decoration: none;
  position: relative;
}

a:after {
  content: "";
  height: 2px;
  position: absolute;
  background: #911;
  transition: width 0.3s ease;
  width: 0;
  bottom: 0;
  left: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}
